<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.settings.MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderFood"
        tools:targetApi="31">
        <activity
            android:name=".user.activity.comment.UpdateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserAddressActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UpdateUserMesActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UpdatePwdUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.comment.UserCommentActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserMyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.BuyFoodActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserManageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderFinishActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusinessCommentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateBusinessMesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdatePwdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusinessMyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateGoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddGoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusinessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisteredBusiness"
            android:exported="false" />
        <activity
            android:name=".activity.RegisteredUsers"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>